################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetCoreBackend/.vs/AspNetCoreBackend
/aspNetCoreBackend/aspNetCoreBackend/bin/Debug/netcoreapp3.1
/aspNetCoreBackend/aspNetCoreBackend/obj



